@import "tailwindcss";
@plugin "@iconify/tailwind4";
@layer base {
  body {
    font-family: "Outfit", sans-serif;
    /* font-size: clamp(12px, 1vw + 0.5rem, 16px); */
  }
  .font-arabic {
    font-family: "IBM Plex Sans Arabic", "Outfit", sans-serif;
  }
}
@layer base {
  body {
    @apply font-outfit relative z-1 bg-gray-50 text-base font-normal;
  }
}

@custom-variant dark (&:is(.dark *));

@theme {
  --font-*: initial;
  --font-outfit: Outfit, sans-serif;

  --breakpoint-*: initial;
  --breakpoint-2xsm: 375px;
  --breakpoint-xsm: 425px;
  --breakpoint-3xl: 2000px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --text-title-2xl: 72px;
  --text-title-2xl--line-height: 90px;
  --text-title-xl: 60px;
  --text-title-xl--line-height: 72px;
  --text-title-lg: 48px;
  --text-title-lg--line-height: 60px;
  --text-title-md: 36px;
  --text-title-md--line-height: 44px;
  --text-title-sm: 30px;
  --text-title-sm--line-height: 38px;
  --text-theme-xl: 20px;
  --text-theme-xl--line-height: 30px;
  --text-theme-sm: 14px;
  --text-theme-sm--line-height: 20px;
  --text-theme-xs: 12px;
  --text-theme-xs--line-height: 18px;

  --color-current: currentColor;
  --color-transparent: transparent;
  --color-white: #ffffff;
  --color-black: #101828;

  --color-brand-25: #f2f7ff;
  --color-brand-50: #ecf3ff;
  --color-brand-100: #dde9ff;
  --color-brand-200: #c2d6ff;
  --color-brand-300: #9cb9ff;
  --color-brand-400: #7592ff;
  --color-brand-500: #465fff;
  --color-brand-600: #3641f5;
  --color-brand-700: #2a31d8;
  --color-brand-800: #252dae;
  --color-brand-900: #262e89;
  --color-brand-950: #161950;

  --color-blue-light-25: #f5fbff;
  --color-blue-light-50: #f0f9ff;
  --color-blue-light-100: #e0f2fe;
  --color-blue-light-200: #b9e6fe;
  --color-blue-light-300: #7cd4fd;
  --color-blue-light-400: #36bffa;
  --color-blue-light-500: #0ba5ec;
  --color-blue-light-600: #0086c9;
  --color-blue-light-700: #026aa2;
  --color-blue-light-800: #065986;
  --color-blue-light-900: #0b4a6f;
  --color-blue-light-950: #062c41;

  --color-gray-25: #fcfcfd;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #e4e7ec;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1d2939;
  --color-gray-900: #101828;
  --color-gray-950: #0c111d;
  --color-gray-dark: #1a2231;

  --color-orange-25: #fffaf5;
  --color-orange-50: #fff6ed;
  --color-orange-100: #ffead5;
  --color-orange-200: #fddcab;
  --color-orange-300: #feb273;
  --color-orange-400: #fd9242;
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  --color-orange-700: #c2410c;
  --color-orange-800: #9a3412;
  --color-orange-900: #7c2d12;
  --color-orange-950: #431407;

  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;
  --color-error-950: #55160c;

  --color-success-25: #f6fef9;
  --color-success-50: #ecfdf3;
  --color-success-100: #d1fadf;
  --color-success-200: #a6f4c5;
  --color-success-300: #6ce9a6;
  --color-success-400: #32d583;
  --color-success-500: #12b76a;
  --color-success-600: #039855;
  --color-success-700: #027a48;
  --color-success-800: #05603a;
  --color-success-900: #054f31;
  --color-success-950: #053321;

  --color-warning-25: #fffcf5;
  --color-warning-50: #fffaeb;
  --color-warning-100: #fef0c7;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;
  --color-warning-800: #93370d;
  --color-warning-900: #7a2e0e;
  --color-warning-950: #4e1d09;

  /* Chart Colors */
  --color-chart-red: #ee3f31;
  --color-chart-blue: #0ba5ec;
  --color-chart-orange: #f29e11;
  --color-chart-purple: #ae48f9;

  /* Custom Spacing (px → rem) */
  --spacing-4px: 0.25rem;
  /* 4px */
  --spacing-5px: 0.3125rem;
  /* 5px */
  --spacing-6px: 0.375rem;
  /* 6px */
  --spacing-7px: 0.4375rem;
  /* 7px */
  --spacing-9px: 0.5625rem;
  /* 9px */
  --spacing-10px: 0.625rem;
  /* 10px */
  --spacing-11px: 0.6875rem;
  /* 11px */
  --spacing-13px: 0.8125rem;
  /* 13px */
  --spacing-14px: 0.875rem;
  /* 14px */
  --spacing-15px: 0.9375rem;
  /* 15px */
  --spacing-17px: 1.0625rem;
  /* 17px */
  --spacing-18px: 1.125rem;
  /* 18px */
  --spacing-19px: 1.1875rem;
  /* 19px */
  --spacing-21px: 1.3125rem;
  /* 21px */
  --spacing-22px: 1.375rem;
  /* 22px */
  --spacing-23px: 1.4375rem;
  /* 23px */
  --spacing-25px: 1.5625rem;
  /* 25px */
  --spacing-26px: 1.625rem;
  /* 26px */
  --spacing-27px: 1.6875rem;
  /* 27px */
  --spacing-29px: 1.8125rem;
  /* 29px */
  --spacing-30px: 1.875rem;
  /* 30px */
  --spacing-34px: 2.125rem;
  /* 34px */
  --spacing-35px: 2.1875rem;
  /* 35px */
  --spacing-38px: 2.375rem;
  /* 38px */
  --spacing-39px: 2.4375rem;
  /* 39px */
  --spacing-40px: 2.5rem;
  /* 40px */
  --spacing-45px: 2.8125rem;
  /* 45px */
  --spacing-50px: 3.125rem;
  /* 50px */
  --spacing-54px: 3.375rem;
  /* 54px */
  --spacing-55px: 3.4375rem;
  /* 55px */
  --spacing-60px: 3.75rem;
  /* 60px */
  --spacing-65px: 4.0625rem;
  /* 65px */
  --spacing-70px: 4.375rem;
  /* 70px */
  --spacing-75px: 4.6875rem;
  /* 75px */
  --spacing-85px: 5.3125rem;
  /* 85px */
  --spacing-90px: 5.625rem;
  /* 90px */
  --spacing-94px: 5.875rem;
  /* 94px */
  --spacing-100px: 6.25rem;
  /* 100px */
  --spacing-115px: 7.1875rem;
  /* 115px */
  --spacing-130px: 8.125rem;
  /* 130px */
  --spacing-150px: 9.375rem;
  /* 150px */
  --spacing-180px: 11.25rem;
  /* 180px */
  --spacing-200px: 12.5rem;
  /* 200px */
  --spacing-230px: 14.375rem;
  /* 230px */

  /* Custom Font Sizes (px → rem) */
  --text-22px: 1.375rem;
  /* 22px */
  --text-26px: 1.625rem;
  /* 26px */
  --text-28px: 1.75rem;
  /* 28px */
  --text-32px: 2rem;
  /* 32px */
  --text-34px: 2.125rem;
  /* 34px */
  --text-40px: 2.5rem;
  /* 40px */
  --text-44px: 2.75rem;
  /* 44px */
  --text-52px: 3.25rem;
  /* 52px */
  --text-60px: 3.75rem;
  /* 60px */
  --text-64px: 4rem;
  /* 64px */
  --text-65px: 4.0625rem;
  /* 65px */

  /* Custom border-radius (px → rem) */
  --radius-5px: 0.3125rem;
  /* 5px */
  --radius-8px: 0.5rem;
  /* 8px */
  --radius-9px: 0.5625rem;
  /* 9px */
  --radius-10px: 0.625rem;
  /* 10px */
  --radius-11px: 0.6875rem;
  /* 11px */
  --radius-12px: 0.75rem;
  /* 12px */
  --radius-13px: 0.8125rem;
  /* 13px */
  --radius-14px: 0.875rem;
  /* 14px */
  --radius-15px: 0.9375rem;
  /* 15px */
  --radius-16px: 1rem;
  /* 16px */
  --radius-17px: 1.0625rem;
  /* 17px */
  --radius-18px: 1.125rem;
  /* 18px */
  --radius-19px: 1.1875rem;
  /* 19px */
  --radius-20px: 1.25rem;
  /* 20px */
  --radius-21px: 1.3125rem;
  /* 21px */
  --radius-22px: 1.375rem;
  /* 22px */
  --radius-24px: 1.5rem;
  /* 24px */
  --radius-30px: 1.875rem;
  /* 30px */
  --radius-40px: 2.5rem;
  /* 40px */
  --radius-44px: 2.75rem;
  /* 44px */
  --radius-53px: 3.3125rem;
  /* 53px */
  --radius-58px: 3.625rem;
  /* 58px */
  --radius-60px: 4rem;
  /* 60px */
  --radius-65px: 4.0625rem;
  /* 65px */
  --radius-66px: 4.125rem;
  /* 66px */
  --radius-67px: 4.1875rem;
  /* 67px */
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility menu-item {
  @apply text-theme-sm relative flex items-center gap-3 rounded-lg px-3 py-2 font-medium;
}

@utility menu-item-active {
  @apply bg-brand-50 text-brand-500 dark:bg-brand-500/[0.12] dark:text-brand-400;
}

@utility menu-item-inactive {
  @apply text-gray-700 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-300 dark:hover:bg-white/5 dark:hover:text-gray-300;
}

@utility menu-item-icon-active {
  @apply fill-brand-500 dark:fill-brand-400;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-700 rounded-full;
  }
  &::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400 dark:bg-gray-600;
  }
}

/* Custom alignment for mini sidebar on desktop */
@media (min-width: 1024px) {
  .mini-sidebar .menu-item {
    justify-content: center;
  }
}
